<% if (pages> 0) { %>
    <ul class="pagination text-center">
        <% if (current==1) { %>
            <li class="disabled"><a>First</a></li>
       <% } else { %>
            <li><a href="#" id="First" onclick="First(1)">First</a></li>
        <% } %>

        <% if (Number(current) - 1> 0) { %>
            <li><a href="#" onclick="First(<%= Number(current) - 1 %>)">Prev</a></li>
        <% } else { %>
            <li class="disabled"><a>Prev</a></li>
        <% } %>

        <% var i=(Number(current)> 5 ? Number(current) - 4 : 1) %>

        <% if (i !==1) { %>
            <li class="disabled"><a>...</a></li>
        <% } %>

        <% for (; i <=(Number(current) + 4) && i<=pages; i++) { %>

            <% if (i==current) { %>
                <li class="active"><a><%= i %></a></li>
            <% } else { %>
                 <li id="pages"><a href="#" onclick="First(<%= i %>)"><%= i %></a></li>
            <% } %>

            <% if (i==Number(current) + 4 &&i < pages) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
        <% } %>

        <% if (Number(current) + 1 <=pages) {%>
            <li><a href="#" onclick="First(<%= Number(current) + 1 %>)">Next</a></li>
        <% } else { %>
                <li class="disabled"><a>Next</a></li>
        <% } %>

        <% if (current==pages){ %>
            <li class="disabled"><a>Last</a></li>
        <% } else{ %>
            <li><a href="#" onclick="First(<%=pages%>)">Last</a></li>
        <% }%>
    </ul>
<% } %>